
Misc/project plan/project_plan.aux
Misc/project plan/project_plan.fdb_latexmk
Misc/project plan/project_plan.fls
Misc/project plan/project_plan.log
Misc/project plan/project_plan.out
Misc/project plan/project_plan.pdf
Misc/project plan/project_plan.synctex.gz
Misc/project plan/project_plan.toc
